{% macro render(title, talks) %}
    % ====================== {{ title }} Section ====================== %
    \begin{rSection}{ {{ title }} }
    \begin{tabular}{p{0.5cm} p{1cm} p{14cm}}
    {%-for entry in talks %}
    {{ entry.month }} & {{ entry.year }} & {{ entry.name }} \\
    {%-endfor%}
    \end{tabular}
    \end{rSection}
{% endmacro %}
